<!-- Name: javascript photo gallery  -->

<!-- Start WOWSlider.com BODY section -->
<div id="wowslider-container2">
<div class="ws_images"><ul>
		<li><img src="%URL%images/group0.jpg" alt="Group-0১" title="Group-0১" id="wows2_0"/></li>
		<li><img src="%URL%images/pipe0.jpg" alt="Pipe-0১" title="Pipe-0১" id="wows2_1"/></li>
		<li><img src="%URL%images/pump0.jpg" alt="Pump-0১" title="Pump-0১" id="wows2_2"/></li>
		<li><img src="%URL%images/tank0.jpg" alt="Tank-0১" title="Tank-0১" id="wows2_3"/></li>
		<li><img src="%URL%images/toys0.jpg" alt="Toys-0১" title="Toys-0১" id="wows2_4"/></li>
		<li><img src="%URL%images/tyres0.jpg" alt="Tyres-0১" title="Tyres-0১" id="wows2_5"/></li>
		<li><a href="http://wowslider.net"><img src="%URL%images/tyres20.jpg" alt="image slider" title="Tyres2-0১" id="wows2_6"/></a></li>
		<li><img src="%URL%images/web0.jpg" alt="Web-0১" title="Web-0১" id="wows2_7"/></li>
	</ul></div>
	<div class="ws_bullets"><div>
		<a href="#" title="Group-0১"><span><img src="%URL%tooltips/group0.jpg" alt="Group-0১"/>1</span></a>
		<a href="#" title="Pipe-0১"><span><img src="%URL%tooltips/pipe0.jpg" alt="Pipe-0১"/>2</span></a>
		<a href="#" title="Pump-0১"><span><img src="%URL%tooltips/pump0.jpg" alt="Pump-0১"/>3</span></a>
		<a href="#" title="Tank-0১"><span><img src="%URL%tooltips/tank0.jpg" alt="Tank-0১"/>4</span></a>
		<a href="#" title="Toys-0১"><span><img src="%URL%tooltips/toys0.jpg" alt="Toys-0১"/>5</span></a>
		<a href="#" title="Tyres-0১"><span><img src="%URL%tooltips/tyres0.jpg" alt="Tyres-0১"/>6</span></a>
		<a href="#" title="Tyres2-0১"><span><img src="%URL%tooltips/tyres20.jpg" alt="Tyres2-0১"/>7</span></a>
		<a href="#" title="Web-0১"><span><img src="%URL%tooltips/web0.jpg" alt="Web-0১"/>8</span></a>
	</div></div><div class="ws_script" style="position:absolute;left:-99%"><a href="http://wowslider.net">javascript photo gallery</a> by WOWSlider.com v8.8</div>
	<a href="#" class="ws_frame"></a>
	<div class="ws_shadow"></div>
</div>
<!-- End WOWSlider.com BODY section -->
